<app-slider></app-slider>
<section  class="servicios-section">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2rem">
    <mat-card *ngFor="let servicio of servicios" style="width: 280px;">
      <mat-card-header>
        <mat-icon>{{ servicio.icono }}</mat-icon>
        <mat-card-title>{{ servicio.titulo }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ servicio.descripcion }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
