<mat-card class="producto-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="multiline">{{ Product.nombre }}</mat-card-title>
    <mat-card-subtitle>{{ Product.categoria }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    src={{Product.imageUrl}}
    alt="Foto del producto"
  />

  <mat-card-content>
    <p>{{Product.descripcion}}</p>
    <br>
    <p class="precio">Precio: {{Product.enOferta?  Product.precioOferta : Product.precio}}</p>
    
  </mat-card-content>
 <mat-card-actions>
    <div class="button">
      <ng-container *ngIf="cartItems$ | async as items">
        <ng-container *ngIf="isProductInCart(items, Product.id) as inCart">
          <button mat-flat-button color="primary" (click)="addToCart(Product)">
            <mat-icon>{{ inCart ? 'shopping_cart' : 'add_shopping_cart' }}</mat-icon>
              {{ inCart ? 'Agregar otro' : 'Añadir al carrito' }}
            </button>

    <button class="btn-eliminar" *ngIf="inCart"
            mat-flat-button color="primary" (click)="removeOne(Product)">
      <mat-icon>delete</mat-icon>
      Eliminar
    </button>
  </ng-container>
</ng-container>
>


      <button *ngIf="isAdmin" mat-flat-button class="btn-editar" (click)="actualizarProducto()">
        <mat-icon>edit</mat-icon> Editar
      </button>
      <button *ngIf="isAdmin" mat-flat-button class="btn-eliminar" (click)="openDialogEliminar(Product)">
        <mat-icon>delete</mat-icon> Eliminar
      </button>
    </div>
</mat-card-actions>
</mat-card>
