::ng-deep mat-card-title {
  font-weight: 600;
  color: #212121;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

::ng-deep mat-card-title:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #3F51B5;
  color: white;
}

::ng-deep mat-card-subtitle {
  color: #757575;
  font-weight: 400;
  transition: all 0.3s ease;
}

::ng-deep mat-card-subtitle:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #3F51B5;
  color: white;
}


.producto-card {
  width: 240px;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
}

.producto-card:hover{
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color: #3F51B5;
  color: white;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

mat-card-actions {
  padding: 8px 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  
}

button {
  flex: 1 1 auto; /* permite que crezca o se encoja */
  min-width: 0;   /* importante para evitar overflow en flex */
  font-weight: bold;
  background-color: #3F51B5;
  
}

.btn-editar {
  background-color: #3F51B5;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  mat-icon {
    margin-right: 4px;
  }
}

.btn-eliminar {
  background-color: #F44336;
  color: white;
  border-radius: 8px;
  font-weight: 500;
  mat-icon {
    margin-right: 4px;
  }
}

.card-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
  overflow: visible;
  color: white;
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.card-content {
  flex-grow: 1;
  padding: 12px;
  word-wrap: break-word;
}

.card-footer {
  padding: 8px 12px;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  width: 280px;
  min-height: 420px;
}

.producto-card {
  width: 280px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
}


mat-card img {
  border-radius: 8px;
}




.producto-card h2,
.producto-card p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}