

.producto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 24px;
  background-color: #f9f9f9;
}

.producto {
  height: 100%;
  width: 280px;
  flex: 0 0 auto;
}

.producto-card-wrapper {
  position: relative;
  display: block;
  width: 100%;
  min-height: 320px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 16px;
  overflow: hidden;
  align-items: center;
}

.cantidad {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #F44336;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8rem;
}

.acciones {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 16px;
  transform: translateY(25%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.subtotal {
  position: static; /* Ya no es absolute */
  background-color: #3F51B5;
  color: white;
  font-size: 0.75rem;
  padding: 4px 6px;
  border-radius: 8px;
}

.boton-agregar-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap
}

.remove-shoppingcart {
  position: fixed;
  background-color: #F44336;
  color: white;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 25px;
  border-radius: 60%;
}

/* deja al ícono respirar */
.remove-shoppingcart mat-icon {
  font-size: 24px; 
  line-height: 24px;
}


.remove-shoppingcart:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0,0,0,0.4);
}


.cart-total-card {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 250px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  border-radius: 8px;
  font-weight: bold;
  color: #3F51B5;
  
}


.total-card button:hover {
  background-color: #1b5e20;
}