<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral para mobile -->
  <mat-sidenav #sidenav mode="over" class="mobile-menu">
  <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <span>Inicio</span>
  </a>

  <a mat-list-item routerLink="/products" routerLinkActive="active-link">
    <mat-icon>shopping_bag</mat-icon>
    <span>Productos</span>
  </a>

  <a mat-list-item routerLink="/aboutus" routerLinkActive="active-link">
    <mat-icon>info</mat-icon>
    <span>Conócenos</span>
  </a>

  <a mat-list-item routerLink="/contact" routerLinkActive="active-link">
    <mat-icon>contact_mail</mat-icon>
    <span>Contáctanos</span>
  </a>

  <a mat-list-item routerLink="/orderHistory" routerLinkActive="active-link">
    <mat-icon>receipt_long</mat-icon>
    <span>Mis compras</span>
  </a>

  <a mat-list-item (click)="handleAuthAction()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </a>
</mat-sidenav>

  <!-- Navbar fijo -->
  <mat-toolbar color="primary" class="navbar">
    <!-- Botón hamburguesa solo en mobile -->
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-button" aria-label="Abrir menú">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Tiendas</span>
    <span class="spacer"></span>

    <!-- Menú horizontal solo en desktop -->
    <div class="desktop-menu">
      <a mat-button routerLink="/" routerLinkActive="actived" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a mat-button routerLink="/products" routerLinkActive="actived">Productos</a>
      <a mat-button routerLink="/aboutus" routerLinkActive="actived">Conócenos</a>
      <a mat-button [matMenuTriggerFor]="menu" routerLinkActive="actived">Contáctanos</a>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/contact">Atención al cliente</a>
        <a mat-menu-item routerLink="/workwithus">Trabaja con Nosotros</a>
      </mat-menu>

      <ng-container *ngIf="isLoggedIn; else showLogin">
        <button mat-button [matMenuTriggerFor]="userMenu" aria-label="Menú de usuario">
          {{ username || 'Usuario' }}
        </button>
        <mat-menu #userMenu="matMenu">
          <a mat-menu-item routerLink="/orderHistory">
            <mat-icon>receipt_long</mat-icon>
            <span>Mis compras</span>
          </a>
          <button mat-menu-item (click)="handleAuthAction()">Cerrar sesión</button>
        </mat-menu>
      </ng-container>

      <ng-template #showLogin>
        <a mat-button routerLink="/login">Login</a>
      </ng-template>
    </div>
  </mat-toolbar>

  <!-- Contenido principal -->
<div class="main-content">
    <router-outlet></router-outlet>
  </div>  
</mat-sidenav-container>
