mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}


.spacer {
  flex: 1 1 auto;
}

a.actived {
  background-color: #161c44;
  color: white;
  border-radius: 999px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


a[mat-button]:hover {
  background-color: rgba(204, 224, 255, 0.3);
  
}

a[mat-button]{
  color: white;
}

mat-toolbar{
  background-color: #303f9f;
  color:white;
}

