<h2 class="title">Order History</h2>

<section *ngIf="orders.length > 0;">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let order of orders" class="order">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>receipt_long</mat-icon> Order ID: {{ order.id }}
        </mat-panel-title>
        <mat-panel-description>
          {{ order.date | date }} – {{ order.total | currency }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="order-header">
        <div class="order-id">
          <mat-icon>receipt_long</mat-icon>
          <span>Order ID: {{ order.id }}</span>
        </div>
        <div class="order-date">
          <mat-icon>calendar_today</mat-icon>
          <span>{{ order.date | date }}</span>
        </div>
        <div class="order-badge">Completado</div>
      </div>

      <p>Total: {{ order.total | currency }}</p>

      <div class="order-items">
        <h4>Items:</h4>
        <ul>
          <li *ngFor="let item of order.items">
            {{ item.product.nombre }}
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<section *ngIf="orders.length === 0;">
  <p>No orders found.</p>
</section>
