.producto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 24px;
  background-color: #f9f9f9;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

::ng-deep .btn-agregar {
  background-color: #3F51B5 !important; // azul principal
  color: white !important;
  border-radius: 25px;
  padding: 8px 20px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  transition: background-color 0.3s ease;
  margin-left: 1cm;

  mat-icon {
    margin-right: 6px;
    vertical-align: middle;
  }

  &:hover {
    background-color: #303F9F !important;
  }
}

.boton-agregar-container {
  display: flex;
  justify-content: center;
}

.filtro-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.filtro-categorias {
  min-width: 250px;
  color: #303F9F;
}

mat-icon {
  margin: righ 1cm;
}

::ng-deep mat-option:hover {
  background-color: #303F9F!important;
  color: white !important;
}

::ng-deep mat-label{
  color: #303F9F;
}

::ng-deep mat-form{
  border-color: #303F9F;
}


