
<!-- productos.component.html -->
 <div class="flex justify-end mb-4">
  <br>
  <button class="btn-agregar" mat-raised-button  (click)="openDialog()" fontIcon="home">
    <mat-icon>add</mat-icon>
    Agregar Producto
  </button>
</div>

<section *ngIf="productos.length > 0; else sinProductos">
  <div class="producto-container"> 
    <div *ngFor="let producto of productos" class="producto">
        <app-product [Product]="producto" (eliminar)="eliminarProducto($event)" (editar)="openDialog(producto)"></app-product>    
    </div>
  </div>
  
</section>

<ng-template #sinProductos>
  <p>No hay productos disponibles.</p>
</ng-template>
