


<!-- productos.component.html -->
 <div class="flex justify-end mb-4">
  <br>
  <div>
    <form class="example-form">
      <mat-form-field appearance="fill" class="w-100">
       <mat-label>Elige una categoría</mat-label>
         <mat-select [(value)]="categoriaSeleccionada" (selectionChange)="obtenerProductosPorCategoria()">
            <mat-option [value]="''">Todas las categorías</mat-option>
            <mat-option *ngFor="let cat of categorias" [value]="cat">
              {{ cat }}
            </mat-option>
          </mat-select>
     </mat-form-field>
      <button mat-raised-button color="primary" (click)="resetform()">Enviar</button>
    </form>
  </div>
  
  <button class="btn-agregar" mat-raised-button  (click)="openDialog()" fontIcon="home">
    <mat-icon>add</mat-icon>
    Agregar Producto
  </button>
</div>

<section *ngIf="productos.length > 0; else sinProductos">
  <div class="producto-container"> 
    <div *ngFor="let producto of productos" class="producto">
        <app-product [Product]="producto" (eliminar)="eliminarProducto($event)" (editar)="openDialog(producto)"></app-product>    
    </div>
  </div>
  
</section>





<ng-template #sinProductos>
  <p>No hay productos disponibles.</p>
</ng-template>
